.Canvas {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  flex: 2 1 auto;
  width: 65vw;
  height: 100vh;
}

.Canvas__buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

@media (max-width: 900px) {
    .Canvas {
      margin: 16px 0;
      width: 100vw;
      height:auto;
    }
}
