.Canvas {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  flex: 2 1 auto;
  width: 65vw;
  height: 100vh;
  border: dashed 1px #000;
}

.Canvas__buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
